<div class="board-container">

  <div class="task-form">
    <h3>Нове завдання</h3>
    <div class="form-group">
      <input type="text" [(ngModel)]="newTitle" placeholder="Назва завдання..." class="form-control">
    </div>
    <div class="form-group">
      <textarea [(ngModel)]="newDescription" placeholder="Опис завдання..." class="form-control"></textarea>
    </div>
    <button (click)="addTask()" class="btn-add">Додати таску</button>
  </div>

  <div class="kanban-board">

    <div class="board-column">
      <div class="column-header todo">Треба зробити</div>
      <div class="column-body">
        @for (task of tasks(); track task.id) {
          @if (task.status === 'todo') {
            <div class="task-card">
              <h4>{{ task.title }}</h4>
              <p>{{ task.description }}</p>
              <div class="card-actions">
                <button (click)="updateStatus(task.id, 'in-progress')" class="btn-next">В роботу ➔</button>
                <button (click)="deleteTask(task.id)" class="btn-delete">🗑️</button>
              </div>
            </div>
          }
        }
      </div>
    </div>

    <div class="board-column">
      <div class="column-header in-progress">У процесі</div>
      <div class="column-body">
        @for (task of tasks(); track task.id) {
          @if (task.status === 'in-progress') {
            <div class="task-card">
              <h4>{{ task.title }}</h4>
              <p>{{ task.description }}</p>
              <div class="card-actions">
                <button (click)="updateStatus(task.id, 'done')" class="btn-next">Готово ➔</button>
                <button (click)="deleteTask(task.id)" class="btn-delete">🗑️</button>
              </div>
            </div>
          }
        }
      </div>
    </div>

    <div class="board-column">
      <div class="column-header done">Зроблено</div>
      <div class="column-body">
        @for (task of tasks(); track task.id) {
          @if (task.status === 'done') {
            <div class="task-card">
              <h4>{{ task.title }}</h4>
              <p>{{ task.description }}</p>
              <div class="card-actions">
                <button (click)="deleteTask(task.id)" class="btn-delete full-width">Видалити з дошки</button>
              </div>
            </div>
          }
        }
      </div>
    </div>

  </div>
</div>
